body {
    background-color: #f5f5f5;
}

.navbar {
    background-color: #4ac07a;
}

.navbar-brand {
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: white;
}

.row-classify {
/*     background-color: #dbeee4; */
    padding-bottom: 10px;
    margin-top: 50px;
    padding: 50px;
}

.col-classify {
    background-color: white;
    margin: 25px;
    padding: 20px;
}

.spec {
  border: 3.5px solid black;
}

.spec-outline {
    display: inline-block;
}

.spec-wrapper {
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.pagecontent {
    padding-bottom: 100px;
}

footer {
    background-color: #4ac07a;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 80px;
    color: white;
}



/* .spec-outline {
    outline: 3.5px solid black; /* Add desired outline color here */
    display: inline-block;
    margin: 5px; /* Add desired margin value here */
}
 */

