body {
    background-color: #f5f5f5;
}

.navbar {
    background-color: #c1e2be;
}

.navbar-brand {
    color: #333333;
    font-weight: bold;
}

.row-classify {
    background-color: #f0f0f0;
    padding-bottom: 10px;
    margin-top: 50px;
    padding: 50px;
}

.col-classify {
    background-color: #e5e5e5;
    margin: 25px;
    padding: 20px;
}

.spec {
  border: 3.5px solid black;
}

.spec-outline {
    display: inline-block;
}

.spec-wrapper {
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.pagecontent {
    padding-bottom: 100px;
}

footer {
    background-color: #c1e2be;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 80px;
}



/* .spec-outline {
    outline: 3.5px solid black; /* Add desired outline color here */
    display: inline-block;
    margin: 5px; /* Add desired margin value here */
}
 */

